* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  margin: auto;
  position: relative;
}
#wrap .inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #008000;
  z-index: 9;
}
#wrap .inner2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  background: #ff1493;
}
